{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>{{video.get_titulo}}</h1>
    <iframe width="560" height="315" src="{{video.get_video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>Categoria: {{video.get_descricao}}</p>
    <p>Publicado em: {{video.get_data_publi}}</p>
    <p>Likes: {{video.get_qtd_curtida}}K</p>
    <p>{{video.get_qtd_visualizacao}}</p>

    <button><a href="{% url 'index' %}">Voltar</a></button>
   
</body>
</html>